dist/index.html
<!DOCTYPE html  ><html lang="ru"> <head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Black Star Burger</title><link rel="stylesheet" href="/bootstrap.min.108cc16f.css"><link rel="stylesheet" href="/map.1d68ba0f.css"><link rel="stylesheet" href="/main.2444412b.css"><script src="/bootstrap.min.108cc16f.js"></script><script src="/map.1d68ba0f.js"></script><script src="/main.2444412b.js"></script><script src="/logged.js"></script></head><body><div class="header" id="header"><div class="menu-popup"><ul class="menu-popup__list list menu--no-active"><li class="list__item"><a class="link" href="#conditions">Условия проведения</a></li><li class="list__item"><a class="link" href="#partnership">Адрес ресторанов</a></li><li class="list__item"><a class="link" href="#faq">Вопросы и ответы</a></li><li class="list__item"><a class="link" href="#feedback">Обратная связь</a></li><li class="list__item d-flex justify-content-center"><button class="btn main-btn btn-reg d-flex green">Регистрация и вход</button></li></ul></div><div class="container"><div class="navigation"><div class="menu"><div class="row"><div class="col-xs-12 col-sm-9 col-md-9 col-lg-7 col-lg-offset-3"><ul class="menu__list list menu--active"><li class="menu__item"><a class="link" href="#conditions">Условия проведения</a></li><li class="menu__item"><a class="link" href="#partnership">Адрес ресторанов</a></li><li class="menu__item"><a class="link" href="#faq">Вопросы и ответы</a></li><li class="menu__item"><a class="link" href="#feedback">Обратная связь</a></li></ul></div><div class="col-sm-3 col-md-3 col-lg-2 d-flex justify-content-end"><button class="btn main-btn btn-reg d-flex justify-content-center green menu--active">Регистрация и вход</button></div></div><button class="btn main-btn btn-reg d-flex green menu--no-active">Регистрация и вход</button><div class="menu__burger menu--no-active"><span></span></div></div></div></div></div><div class="main-content" id="main-content"><div class="container"><div class="row"><div class="col-sm-12 main-bg"></div><div class="col-md-7 col-lg-7 text-center"><h1>Слоган мотивационной программы<br><small>Подстрочник</small></h1><p>с 1 октября по 10 декабря</p></div></div></div></div><div class="actions" id="actions"><div class="container"><div class="row"><div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1"><div class="actions__item"><div class="row"><div class="col-xs-12 col-sm-7 col-md-6 col-lg-6"><p>Скачай приложение<br><small>Детальное описание шага, призыв к действию</small></p></div><div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 d-flex align-items-center"><a class="margin-right-10" href="#"><img src="/app-store.20650dd8.svg" alt="App Store"></a><a class="margin-right-10" href="#"><img src="/google-play-badge.0373993e.svg" alt="Google Play"></a><div id="qr-code">              </div></div></div></div></div><div class="col-lg-10 col-lg-offset-1"><div class="actions__item"><p>Получи ID<br><small>Детальное описание шага, призыв к действию</small></p></div></div><div class="col-lg-10 col-lg-offset-1"><div class="actions__item"><div class="row"><div class="col-xs-12 col-sm-9 col-md-9 col-lg-9"><p>Подпиши документ согласия<br><small>Детальное описание шага, призыв к действию</small></p></div><div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 d-flex justify-content-center"><form class="navbar-form text-center"><button class="btn main-btn green d-flex justify-content-around align-items-center"><ion-icon name="download"></ion-icon>Банк согласия</button><a class="green d-flex justify-content-evently"><ion-icon name="download"></ion-icon>Образец заполнения</a></form></div></div></div></div><div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1"><div class="actions__item"><div class="row"><div class="col-xs-12 col-sm-8 col-md-9 col-md-9 col-lg-9"><p>Зарегистрируйся на сайте<br><small>Детальное описание шага, призыв к действию</small></p></div><div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 d-flex justify-content-center padding-0"><button class="btn main-btn btn-reg d-flex justify-content-center green">Регистрация и вход</button></div></div></div></div><div class="col-lg-10 col-lg-offset-1"><div class="actions__item"><p>Помогай покупателям<br><small>Детальное описание шага, призыв к действию</small></p></div></div><div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1"><div class="actions__item"><div class="row"><div class="col-xs-12 col-sm-9 col-md-9 col-lg-9"><p>Получи приз<br><small>Детальное описание шага, призыв к действию</small></p></div><div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 d-flex justify-content-center"><form class="navbar-form"><button class="btn main-btn green">Список ресторанов</button></form></div></div></div></div></div></div></div><div class="conditions" id="conditions"><div class="container"><h2>Условия проведения</h2><div class="row"><div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6"><button class="btn btn-default green"><ion-icon name="open"> </ion-icon>Полные условия и правила            </button></div><div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6"><button class="btn btn-default green"><ion-icon name="open"></ion-icon>Продукция, участвующая в акции    </button></div></div></div></div><div class="partnership" id="partnership"><div class="container"><h2>Рестораны, участвующие в конкурсе</h2><div class="dropdown"><button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Москва<span><img src="/arrow-down.89ffe8bc.svg"></span></button><ul class="dropdown-menu"><li class="city-active" data-location="moscow"><a href="#">Москва</a></li><li data-location="spb"><a href="#">Санкт-Петербург</a></li><li data-location="nn"><a href="#">Нижний Новгород</a></li><li data-location="ufa"><a href="#">Уфа</a></li><li data-location="grozniy"><a href="#">Грозный</a></li><li data-location="voronezh"><a href="#">Воронеж</a></li><li data-location="rnd"><a href="#">Ростов-на-Дону</a></li><li data-location="novosib"><a href="#">Новосибирск</a></li><li data-location="ekb"><a href="#">Екатеринбург</a></li><li data-location="krasnodar"><a href="#">Краснодар</a></li><li data-location="krasnogorsk"><a href="#">Красногорск</a></li><li data-location="mytishchi"><a href="#">Мытищи</a></li><li data-location="balashiha"><a href="#">Балашиха</a></li><li data-location="stavropol"><a href="#">Ставрополь</a></li><li data-location="kaliningrad"><a href="#">Калининград</a></li><li data-location="penza"><a href="#">Пенза</a></li><li data-location="sochi"><a href="#">Сочи</a></li><li data-location="yakutsk"><a href="#">Якутск</a></li><li data-location="tyumen"><a href="#">Тюмень</a></li><li data-location="chelyabinsk"><a href="#">Челябинск</a></li><li data-location="vladikavkaz"><a href="#">Владикавказ</a></li><li data-location="surgut"><a href="#">Сургут</a></li><li data-location="ulyanovsk"><a href="#">Ульяновск</a></li><li data-location="nizhnevartovsk"><a href="#">Нижневартовск</a></li><li data-location="gelendzhik"><a href="#">Геленджик</a></li><li data-location="blagoveschensk"><a href="#">Благовещенск</a></li></ul></div><div class="map-wrapper"><div class="control-panel"><ul class="list-of-cities"><li class="city-active" data-location="moscow"><a href="#">Москва</a></li><li data-location="spb"><a href="#">Санкт-Петербург</a></li><li data-location="nn"><a href="#">Нижний Новгород</a></li><li data-location="ufa"><a href="#">Уфа</a></li><li data-location="grozniy"><a href="#">Грозный</a></li><li data-location="voronezh"><a href="#">Воронеж</a></li><li data-location="rnd"><a href="#">Ростов-на-Дону</a></li><li data-location="novosib"><a href="#">Новосибирск</a></li><li data-location="ekb"><a href="#">Екатеринбург</a></li><li data-location="krasnodar"><a href="#">Краснодар</a></li><li data-location="krasnogorsk"><a href="#">Красногорск</a></li><li data-location="mytishchi"><a href="#">Мытищи</a></li><li data-location="balashiha"><a href="#">Балашиха</a></li><li data-location="stavropol"><a href="#">Ставрополь</a></li><li data-location="kaliningrad"><a href="#">Калининград</a></li><li data-location="penza"><a href="#">Пенза</a></li><li data-location="sochi"><a href="#">Сочи</a></li><li data-location="yakutsk"><a href="#">Якутск</a></li><li data-location="tyumen"><a href="#">Тюмень</a></li><li data-location="chelyabinsk"><a href="#">Челябинск</a></li><li data-location="vladikavkaz"><a href="#">Владикавказ</a></li><li data-location="surgut"><a href="#">Сургут</a></li><li data-location="ulyanovsk"><a href="#">Ульяновск</a></li><li data-location="nizhnevartovsk"><a href="#">Нижневартовск</a></li><li data-location="gelendzhik"><a href="#">Геленджик</a></li><li data-location="blagoveschensk"><a href="#">Благовещенск</a></li></ul></div><div id="map"></div></div></div></div><div class="faq" id="faq"><div class="container"><div class="row"><div class="col-lg-10 col-lg-offset-1"><h2>Вопросы и ответы</h2><div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1"><div class="panel-heading" id="heading1"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse in" id="collapse1" role="tabpanel" aria-labelledby="heading1"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"><div class="panel-heading" id="heading2"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse2" role="tabpanel" aria-labelledby="heading2"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3"><div class="panel-heading" id="heading3"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse3" role="tabpanel" aria-labelledby="heading3"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"><div class="panel-heading" id="heading4"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse4" role="tabpanel" aria-labelledby="heading4"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5"><div class="panel-heading" id="heading5"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse5" role="tabpanel" aria-labelledby="heading5"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div></div></div></div></div></div><div class="feedback" id="feedback"><div class="container"><form><h2>Обратная связь</h2><div class="form-group"><div class="row"><div class="col-sm-6 col-md-6 col-lg-6"><input class="form-control" id="nameInput" type="text" placeholder="Имя и фамилия"></div><div class="col-sm-6 col-md-6 col-lg-6"><input class="form-control" id="emailInput" type="email" placeholder="Email"></div></div></div><div class="form-group"><select class="form-control" id="themeMessageSelect"><option>Тема сообщения</option><option value="1">One</option><option value="2">Two</option><option value="3">Three</option></select></div><div class="form-group"><textarea class="form-control" id="messageInput" rows="3" placeholder="Сообщение"></textarea></div><div class="form-group"><div class="row"><div class="col-xs-12 col-sm-7 col-md-5 col-lg-5"><div class="checkbox"><input id="checkbox" type="checkbox"><label for="checkbox">Согласие на обработку персональных данных</label></div></div><div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-3">    <button class="btn btn-primary" type="submit">Отправить</button></div></div></div></form></div></div><div class="footer" id="footer"><div class="container"><div class="row"><div class="col-xs-12 col-lg-6"><ul class="nav navbar-nav"><li><a href="#">Полные условия и правила</a></li><li><a href="#">Банк согласия</a></li><li><a href="#">Образец заполнения банка согласия</a></li></ul></div><div class="col-xs-12 col-lg-6 d-flex justify-content-end align-items-center"><button class="btn main-btn btn-reg green">Регистрация и вход</button><a class="margin-right-10 margin-left-10" href="#"><img src="/app-store.20650dd8.svg" alt="App Store"></a><a href="#"><img src="/google-play-badge.0373993e.svg" alt="Google Play"></a></div></div><p class="copyright">&copy; 2019. Все права защищены</p></div></div><div class="modal fade" id="myModal"><div class="modal-dialog"><div class="registration modal-content" id="registration"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4><a class="active" href="#registration">Регистрация</a></h4><h4><a href="#login">Вход</a></h4></div></div><div class="modal-body"><div class="row"><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input class="form-control" id="surnameInput-1" type="text" placeholder="Фамилия"></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input class="form-control" id="nameInput-1" type="text" placeholder="Имя"></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input class="form-control" id="middleNameInput-1" type="text" placeholder="Отчество"></div></div><div class="row"><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input class="form-control" id="emailInput-1" type="email" placeholder="Email"></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input class="form-control" id="pswdInput-1" type="password" placeholder="Пароль"></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input class="form-control" id="rePswdInput-1" type="password" placeholder="Пароль еще раз"></div></div></div><div class="modal-footer"><div class="row"><div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" style="padding-left: 10px; padding-right: 10px;"><div class="checkbox"><input id="checkbox-1" type="checkbox"><label for="checkbox-1">Согласие на обработку персональных данных</label></div></div><div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-3">    <button class="btn btn-primary" type="submit">Зарегистрироваться</button></div></div></div></div><div class="login modal-content" id="login"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4><a href="#registration">Регистрация</a></h4><h4><a href="#login">Вход</a></h4></div></div><div class="modal-body"><div class="row"><div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2"><input class="form-control" id="emailInput-2" type="email" placeholder="Email"></div><div class="col-sm-4 col-md-4 col-lg-4"><input class="form-control" id="pswdInput-2" type="password" placeholder="Пароль"></div></div><div class="row"><div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-align-center"><a class="text-transform-initial" href="#forgot-pswd">Забыли пароль?</a></div></div></div><div class="modal-footer"><div class="row"><div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"> <a class="btn btn-primary d-flex justify-content-center align-items-center" href="/logged.html">Войти</a></div></div></div></div><div class="forgot-pswd modal-content no-active" id="forgot-pswd"><div class="modal-header"><a class="back" href="#"></a><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4>Восстановление пароля</h4></div></div><div class="modal-body"><div class="row"><div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 col-lg-4 col-lg-offset-4"><input class="form-control" id="emailInput-3" type="email" placeholder="Email"></div></div></div><div class="modal-footer"><div class="row"><div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"> <button class="btn btn-primary" type="submit">Отправить инструкции</button></div></div></div></div><div class="restore-pswd modal-content no-active" id="restore-pswd"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4>Смена пароля</h4></div></div><div class="modal-body"><div class="row"><div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2"><input class="form-control" id="pswdInput-3" type="password" placeholder="Новый пароль"></div><div class="col-sm-6 col-md-5 col-lg-4"><input class="form-control" id="rePswdInput-2" type="password" placeholder="Новый пароль еще раз"></div></div></div><div class="modal-footer"><div class="row"><div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"> <button class="btn btn-primary" type="submit">Далее</button></div></div></div></div></div></div><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="/jquery.qrcode.min.b10ae45a.js"></script><script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script><script src="/bsb.e31bb0bc.js"></script><script src="/map.b41a0f3f.js"></script></body></html>

index.pug
doctype html  
html(lang='ru')  
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Black Star Burger
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/map.css')
    link(rel='stylesheet' href='/css/main.less')
  body
    #header.header
      .menu-popup
        ul.menu-popup__list.list.menu--no-active
          li.list__item
            a.link(href="#conditions") Условия проведения
          li.list__item
            a.link(href="#partnership") Адрес ресторанов
          li.list__item
            a.link(href="#faq") Вопросы и ответы
          li.list__item
            a.link(href="#feedback") Обратная связь
          li.list__item.d-flex.justify-content-center
            button.btn.main-btn.btn-reg.d-flex.green Регистрация и вход
      .container
        .navigation
          .menu
            .row
              .col-xs-12.col-sm-9.col-md-9.col-lg-7.col-lg-offset-3
                ul.menu__list.list.menu--active
                  li.menu__item
                    a.link(href="#conditions") Условия проведения
                  li.menu__item
                    a.link(href="#partnership") Адрес ресторанов
                  li.menu__item
                    a.link(href="#faq") Вопросы и ответы
                  li.menu__item
                    a.link(href="#feedback") Обратная связь
              .col-sm-3.col-md-3.col-lg-2.d-flex.justify-content-end
                button.btn.main-btn.btn-reg.d-flex.justify-content-center.green.menu--active Регистрация и вход
            button.btn.main-btn.btn-reg.d-flex.green.menu--no-active Регистрация и вход
            .menu__burger.menu--no-active
              span
    #main-content.main-content
      .container
        .row
          .col-sm-12.main-bg
          .col-md-7.col-lg-7.text-center
            h1 Слоган мотивационной программы
              br
              small Подстрочник
            p с 1 октября по 10 декабря
    #actions.actions
      .container
        .row
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-7.col-md-6.col-lg-6
                  p Скачай приложение
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-12.col-sm-5.col-md-5.col-lg-5.d-flex.align-items-center
                  a.margin-right-10(href="#")
                    img(src="/img/app-store.svg", alt="App Store")
                  a.margin-right-10(href="#")
                    img(src="/img/google-play-badge.svg", alt="Google Play")
                  #qr-code               
          .col-lg-10.col-lg-offset-1
            .actions__item
              p Получи ID
                br
                small Детальное описание шага, призыв к действию
          .col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-9.col-md-9.col-lg-9
                  p Подпиши документ согласия
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-6.col-sm-2.col-md-2.col-lg-2.d-flex.justify-content-center
                  form.navbar-form.text-center
                    button.btn.main-btn.green.d-flex.justify-content-around.align-items-center
                      ion-icon(name="download")
                      | Банк согласия
                    a.green.d-flex.justify-content-evently
                      ion-icon(name="download")
                      | Образец заполнения
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-8.col-md-9.col-md-9.col-lg-9
                  p Зарегистрируйся на сайте
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-6.col-sm-4.col-md-2.col-lg-2.d-flex.justify-content-center.padding-0
                  button.btn.main-btn.btn-reg.d-flex.justify-content-center.green Регистрация и вход
          .col-lg-10.col-lg-offset-1
            .actions__item
              p Помогай покупателям
                br
                small Детальное описание шага, призыв к действию
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-9.col-md-9.col-lg-9
                  p Получи приз
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-6.col-sm-2.col-md-2.col-lg-2.d-flex.justify-content-center
                  form.navbar-form
                    button.btn.main-btn.green Список ресторанов
    #conditions.conditions
      .container
        h2 Условия проведения
        .row
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open") 
              | Полные условия и правила            
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open")
              | Продукция, участвующая в акции    
    #partnership.partnership
      .container
        h2 Рестораны, участвующие в конкурсе
        .dropdown
          button.btn.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Москва
            span
              img(src="/img/arrow-down.svg")
          ul.dropdown-menu
            li.city-active(data-location="moscow")
              a(href="#") Москва
            li(data-location="spb")
              a(href="#") Санкт-Петербург
            li(data-location="nn")
              a(href="#") Нижний Новгород
            li(data-location="ufa")
              a(href="#") Уфа
            li(data-location="grozniy")
              a(href="#") Грозный
            li(data-location="voronezh")
              a(href="#") Воронеж
            li(data-location="rnd")
              a(href="#") Ростов-на-Дону
            li(data-location="novosib")
              a(href="#") Новосибирск
            li(data-location="ekb")
              a(href="#") Екатеринбург
            li(data-location="krasnodar")
              a(href="#") Краснодар
            li(data-location="krasnogorsk")
              a(href="#") Красногорск
            li(data-location="mytishchi")
              a(href="#") Мытищи
            li(data-location="balashiha")
              a(href="#") Балашиха
            li(data-location="stavropol")
              a(href="#") Ставрополь
            li(data-location="kaliningrad")
              a(href="#") Калининград
            li(data-location="penza")
              a(href="#") Пенза
            li(data-location="sochi")
              a(href="#") Сочи
            li(data-location="yakutsk")
              a(href="#") Якутск
            li(data-location="tyumen")
              a(href="#") Тюмень
            li(data-location="chelyabinsk")
              a(href="#") Челябинск
            li(data-location="vladikavkaz")
              a(href="#") Владикавказ
            li(data-location="surgut")
              a(href="#") Сургут
            li(data-location="ulyanovsk")
              a(href="#") Ульяновск
            li(data-location="nizhnevartovsk")
              a(href="#") Нижневартовск
            li(data-location="gelendzhik")
              a(href="#") Геленджик
            li(data-location="blagoveschensk")
              a(href="#") Благовещенск
        .map-wrapper
          .control-panel
            ul.list-of-cities
              li.city-active(data-location="moscow")
                a(href="#") Москва
              li(data-location="spb")
                a(href="#") Санкт-Петербург
              li(data-location="nn")
                a(href="#") Нижний Новгород
              li(data-location="ufa")
                a(href="#") Уфа
              li(data-location="grozniy")
                a(href="#") Грозный
              li(data-location="voronezh")
                a(href="#") Воронеж
              li(data-location="rnd")
                a(href="#") Ростов-на-Дону
              li(data-location="novosib")
                a(href="#") Новосибирск
              li(data-location="ekb")
                a(href="#") Екатеринбург
              li(data-location="krasnodar")
                a(href="#") Краснодар
              li(data-location="krasnogorsk")
                a(href="#") Красногорск
              li(data-location="mytishchi")
                a(href="#") Мытищи
              li(data-location="balashiha")
                a(href="#") Балашиха
              li(data-location="stavropol")
                a(href="#") Ставрополь
              li(data-location="kaliningrad")
                a(href="#") Калининград
              li(data-location="penza")
                a(href="#") Пенза
              li(data-location="sochi")
                a(href="#") Сочи
              li(data-location="yakutsk")
                a(href="#") Якутск
              li(data-location="tyumen")
                a(href="#") Тюмень
              li(data-location="chelyabinsk")
                a(href="#") Челябинск
              li(data-location="vladikavkaz")
                a(href="#") Владикавказ
              li(data-location="surgut")
                a(href="#") Сургут
              li(data-location="ulyanovsk")
                a(href="#") Ульяновск
              li(data-location="nizhnevartovsk")
                a(href="#") Нижневартовск
              li(data-location="gelendzhik")
                a(href="#") Геленджик
              li(data-location="blagoveschensk")
                a(href="#") Благовещенск
          #map

    #faq.faq
      .container
        .row
          .col-lg-10.col-lg-offset-1
            h2 Вопросы и ответы
            #accordion.panel-group(role="tablist" aria-multiselectable="true")
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1")
                #heading1.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse1.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="heading1")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2")
                #heading2.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse2.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading2")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3")
                #heading3.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse3.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading3")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4")
                #heading4.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse4.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading4")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5")
                #heading5.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse5.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading5")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
    #feedback.feedback
      .container
        form
          h2 Обратная связь
          .form-group
            .row
              .col-sm-6.col-md-6.col-lg-6
                input#nameInput.form-control(type='text' placeholder='Имя и фамилия')
              .col-sm-6.col-md-6.col-lg-6
                input#emailInput.form-control(type='email' placeholder='Email')
          .form-group
            select#themeMessageSelect.form-control
              option Тема сообщения
              option(value="1") One
              option(value="2") Two
              option(value="3") Three
          .form-group
            textarea#messageInput.form-control(rows="3" placeholder="Сообщение")
          .form-group
            .row
              .col-xs-12.col-sm-7.col-md-5.col-lg-5
                .checkbox
                  input#checkbox(type='checkbox')
                  label(for="checkbox") Согласие на обработку персональных данных
              .col-xs-12.col-sm-5.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                button.btn.btn-primary(type='submit') Отправить
    #footer.footer
      .container
        .row
          .col-xs-12.col-lg-6
            ul.nav.navbar-nav
              li
                a(href="#") Полные условия и правила
              li
                a(href="#") Банк согласия
              li
                a(href="#") Образец заполнения банка согласия
          .col-xs-12.col-lg-6.d-flex.justify-content-end.align-items-center
            button.btn.main-btn.btn-reg.green Регистрация и вход
            a.margin-right-10.margin-left-10(href="#")
              img(src="/img/app-store.svg", alt="App Store")
            a(href="#")
              img(src="/img/google-play-badge.svg", alt="Google Play")
        p.copyright &copy; 2019. Все права защищены

    #myModal.modal.fade
      .modal-dialog
        #registration.registration.modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4
                a.active(href="#registration") Регистрация
              h4
                a(href="#login") Вход
          .modal-body
            .row
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#surnameInput-1.form-control(type='text' placeholder='Фамилия')
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#nameInput-1.form-control(type='text' placeholder='Имя')
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#middleNameInput-1.form-control(type='text' placeholder='Отчество')
            .row
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#emailInput-1.form-control(type='email' placeholder='Email')
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#pswdInput-1.form-control(type='password' placeholder='Пароль')
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                input#rePswdInput-1.form-control(type='password' placeholder='Пароль еще раз')
          .modal-footer
            .row
              .col-xs-12.col-sm-6.col-md-5.col-lg-5(style="padding-left: 10px; padding-right: 10px;")
                .checkbox
                  input#checkbox-1(type='checkbox')
                  label(for="checkbox-1") Согласие на обработку персональных данных
              .col-xs-12.col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                button.btn.btn-primary(type='submit') Зарегистрироваться
        #login.login.modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4
                a(href="#registration") Регистрация
              h4
                a(href="#login") Вход
          .modal-body
            .row
              .col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-2.col-lg-4.col-lg-offset-2
                input#emailInput-2.form-control(type='email' placeholder='Email')
              .col-sm-4.col-md-4.col-lg-4
                input#pswdInput-2.form-control(type='password' placeholder='Пароль')
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.text-align-center
                a.text-transform-initial(href="#forgot-pswd") Забыли пароль?
          .modal-footer
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                //- form(action="logged.pug")
                  //- input.btn.btn-primary(type="submit" value="Войти")
                a.btn.btn-primary.d-flex.justify-content-center.align-items-center(href="logged.pug") Войти
        #forgot-pswd.forgot-pswd.modal-content.no-active
          .modal-header
            a.back(href="#")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Восстановление пароля
          .modal-body
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-offset-4.col-md-4.col-lg-4.col-lg-offset-4
                input#emailInput-3.form-control(type='email' placeholder='Email')
          .modal-footer
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button.btn.btn-primary(type='submit') Отправить инструкции
        #restore-pswd.restore-pswd.modal-content.no-active
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Смена пароля
          .modal-body
            .row
              .col-sm-6.col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2
                input#pswdInput-3.form-control(type='password' placeholder='Новый пароль')
              .col-sm-6.col-md-5.col-lg-4
                input#rePswdInput-2.form-control(type='password' placeholder='Новый пароль еще раз')
          .modal-footer
            .row
              .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button.btn.btn-primary(type='submit') Далее

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/jquery-qrcode-master/jquery.qrcode.min.js")
    script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="./index.js")
    script(src="./js/map.js")
